#Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1.PYTHON
2.R
3.SQL
4.JULIA
5.MATLAB
6.JAVA

Some of the commonly used libraries used by Data Scientists include:
Python Libraries
1.Pandas
2.NumPy
3.Scikit-Learn
4.TensorFlow
5.Keras
6.PyTorch
7.Matplotlib
8.Seabornss
9.SciPy
10.BeautifulSoup
R Libraries
1.ggplot2
2.dplyr
3.caret
4.shiny
5.plotly
SQL Libraries
1.PostgreSQL 
2.MySQL
3.SQLite

Data Science Tools
1.Jupyter Notebook
2.RStudio
3.Apache Spark
4.TensorFlow
5.Hadoop
6.Git
7.ggplot2 (R)

###Below are a few examples of evaluating arithmetic expressions in PythonS

In [1]:
#his a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

200 minutes is equal to 3.3333333333333335 hours.

Objectives:
List popular languages for Data Science:
*Python
*R
*SQL
*Julia
*Java
*MATLAB

In [ ]:
Author: Akkireddi Hema